html {
    scroll-behavior: smooth;
  }

/* font */
body{font-family: 'Tilt Neon', sans-serif;
}



footer{
    font-family: 'Tilt Neon', sans-serif;
}

/* Universal background and text color */

.EthanText, h1{
    color: rgb(0, 129, 84);
}

.featured, .about{
    background-color: rgb(0, 0, 37);
}

footer{
    background-color: rgb(0, 129, 84);
}

/* Navigation Bar for Mobile */

header {
    border-bottom: black 1px solid;
}

.header{
    width: 10vw;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
}

/* Sets the manu to be hidden, altered when clicked in Javascript */
/* Also sets the hamburger to be centered and on the right */


.custom-checkbox{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 50px;
}

.custom-checkbox img{
    height: 30px;
    width: 30px;
    display: block;
    transition: all 0.3s ease 0s;
}

#menu-toggle{
    z-index: 1000;
    position: fixed;
    top: 20px;
    cursor: pointer;
    display: none;
}



/* Syles mobile nav to look pretty */

#menu {
    background-color: rgb(0, 159, 104);
    position: fixed;
    top: -100vh; /* Start off-screen */
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: top 0.5s ease-in-out;
}

.nav{
    display: flex;
}

.nav ul {
    display: flex;
    flex-direction: column;
    padding: 7%;
    padding-top: 20%;
}

.nav ul li {
    padding: 10%;
    font-size: 35px;
}

.active{
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
}

.active a {
    color: white;
}

/* Styling for content below menu bar */

h1{
    text-align: center;
    padding-top: 11%;
    font-size: 270%;
    display: none;
}

/* Style ethan hero photo */

.ethanphoto{
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border: 10px solid black;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.ethanphoto:hover{
    border: 10px solid rgb(0, 129, 84);
}


/* Styling for text below photo */

.intro p{
    font-size: 200%;
    width: 70%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left:auto;
    margin-right: auto;
}


.intro{
    border-bottom: black 1px solid;
}


/* Styling for the featured sections */

.featured, .photos, .about{
    height: auto;
    padding-top: 8%;
}

.featured h2{
    text-align: center;
    padding-top: 20px;
    font-size: 300%;
    color: white;
    padding-bottom: 20px;
}

.design-featured, .photo-featured{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    width:84vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    gap: 10px;



}

/* jcs featured styling */

.jcscontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}


.jcsphoto{
    max-width: 100%;

}

.jcstext{
    background-color: white;
    color: black;
    padding: 5%;
    text-align: center;
    font-size: 170%;
}
/* styling for hero photos */

.photos h2{
    text-align: center;
    padding-top: 20px;
    font-size: 300%;
    color: black;
    padding-bottom: 20px;
}

.photos{
    background-color: white;
    margin-bottom: 3%;
}

.photos-container img {
    width: 100%;
    margin-top: 10px;
    border: solid black 3px;
}
h4{
    font-size: 120%;
}




/* About Styling */

.about h2{
    text-align: center;
    font-size: 300%;
    color: white;
}

.about-container{
    font-size: 180%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 5%;
    color: white;

}


.graduate-text{
    grid-column: 2/12;
    grid-row: 1/2;
    text-align: center;
}

.persian-quote{
    grid-column: 2/10;
    grid-row: 2/3;
    color:rgb(0, 129, 84) ;
}
.english-quote{
    grid-column: 2/12;
    grid-row: 3/4;
    text-align: center;
}

.english-quote, .persian-quote, .graduate-text{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Styling for footer */
footer{
    color: white;
    text-align: center;
    padding: 2%;
    font-size: 125%;
}

/* Styling for table/desktop sized screen */
@media only screen and (min-width:850px){








}